@use "styles/mixins/_rem.scss" as rem;
@use "styles/variables/_z-index.scss" as zIndex;
@use "styles/mixins/_a11y.scss" as a11y;

.skip-links {
  height: 0;
  position: absolute;
  background-color: var(--color-background-brand-primary);
  top: rem.torem(-36px);

  &:focus-within {
    height: rem.torem(36px);
    position: relative;
    z-index: zIndex.$cookies-popup-z-index;
    top: 0;
  }
}

.visually-hidden {
  @include a11y.visually-hidden;
}
