@use "styles/mixins/_fonts.scss" as fonts;

.filter-container {
  width: 100%;
}

.offers-table {
  &-callout {
    margin-bottom: var(--size-spacing-l);
  }

  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--size-spacing-s);

    &-heading {
      @include fonts.title2;

      margin-right: var(--size-spacing-l);
    }
  }
}

.collective-budget-banner-container {
  margin-bottom: var(--size-spacing-xxl);
}
