@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_fonts.scss" as fonts;

.legal-infos-callout {
  color: var(--color-text-subtle);

  .legal-infos-paragraph {
    margin-bottom: var(--size-spacing-s);
  }
}
