@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_size.scss" as size;

.highlight-banner {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: var(--size-spacing-s);
  padding: var(--size-spacing-xl);
  border-radius: var(--size-border-radius-m);
  background-color: var(--color-background-info);

  @media (min-width: size.$tablet) {
    flex-flow: row wrap;
  }

  &-content {
    flex: 1 0;
    display: inline-flex;
    flex-wrap: wrap;
    gap: var(--size-spacing-s);
  }
}

.no-highlight-banner {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: var(--size-spacing-xl);
  padding: var(--size-spacing-xl);
  border: 1px solid var(--color-border-brand-primary);
  border-radius: var(--size-border-radius-m);

  @media (min-width: size.$tablet) {
    flex-flow: row wrap;
  }

  &-content {
    @include fonts.body-accent;

    flex: 1;
  }
}
