@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

.offer-date-filter {
  flex-grow: 1;
  width: rem.torem(173px);
}

.venue-filter {
  flex-grow: 2;
  width: rem.torem(397px);
}

.pre-filters-form {
  &:not(.has-result) {
    margin-bottom: var(--size-spacing-xxl);
  }

  &.has-result:not(.refresh-required) {
    margin-bottom: var(--size-spacing-xxxxl);
  }

  &.refresh-required.has-result {
    margin-bottom: var(--size-spacing-l);
  }

  &:not(.refresh-required) ~ .no-bookings-for-pre-filters {
    padding-top: var(--size-spacing-l);
  }

  &.refresh-required ~ .no-bookings-for-pre-filters {
    padding-top: 0;
  }

  &-filters {
    margin-bottom: rem.torem(36px);
  }
}

.button-group {
  margin-bottom: var(--size-spacing-xxl);
  position: relative;

  &-buttons {
    display: flex;
    justify-content: center;
    position: relative;
    gap: var(--size-spacing-s);
    flex-wrap: nowrap;
    z-index: 1;
  }

  &-separator {
    border-bottom: rem.torem(1px) solid var(--color-border-subtle);
    display: block;
    position: absolute;
    top: 50%;
    bottom: initial;
    width: 100%;
  }

  @media screen and (min-width: size.$tablet) {
    &-buttons {
      gap: var(--size-spacing-xl);
    }
  }
}

.pf-refresh-message {
  @include fonts.body;

  color: var(--color-text-error);
  text-align: center;
}

.reset-filters-wrapper {
  align-items: center;
  min-height: size.$input-min-height;
  display: flex;
}
