@use "styles/mixins/_fonts.scss" as fonts;
@use "styles/mixins/_rem.scss" as rem;
@use "styles/mixins/_size.scss" as size;

.sitemap-list {
  margin-top: var(--size-spacing-xxl);
  list-style-type: disc;
  list-style-position: inside;
  width: rem.torem(826px);
  margin-bottom: var(--size-spacing-xxl);

  &-item {
    margin-bottom: var(--size-spacing-s);
  }

  &-title {
    @include fonts.body-accent;
  }
}

.sitemap-sub-list {
  list-style-type: disc;
  list-style-position: inside;
  padding-left: var(--size-spacing-l);
  margin-top: var(--size-spacing-s);
}

.sitemap-link {
  @include fonts.body-accent;

  text-decoration: underline;
}
